body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./image/1366_2000.jpeg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según necesites */
    overflow: hidden; /* Para evitar scroll si la imagen es grande */
}

.container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo del contenedor con transparencia */
    border-radius: 10px;
    backdrop-filter: blur(1px); /* Efecto de desenfoque */
}

.container h1 {
    text-align: center;
    color: #333;
}

.container input[type="text"],
.container button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container input[type="text"] {
    margin-right: 10px;
}

.container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px; /* Altura máxima del contenedor de resultados */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}



